@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); /* Импорт гугл шрифта*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Sans:wght@700&display=swap');
body {
    margin: 0;
    background: #0c0b0c;
}
html{
    scroll-behavior: smooth;
}
.devis {
    position: relative;
    z-index: 9;
    margin: 0;
    float: top;
    display: flex;
    color: white;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    filter: none;
    opacity: 1;
    /* Позиционирование */
    flex-direction: column; /* Элементы в колонку оси (Y) */
    justify-content: center; /* Выравнивание по основной оси (Y) */
    align-items: center; /* Позиционирование по поперечной оси (X)*/
}

#devis {
    margin: 0;
}

.main-arrow{
    width: 48px;
    height: 48px;
    /*background-color: white;*/
    position: absolute;
    bottom: 30px;
    filter: invert(1);
}

.none {
    display: none;
}


.info {
    font-family: 'PT Sans', sans-serif;
    background-color: white;
    width: 100%;
    height: 95vh;
    text-align: center;
}

#title-info {
    margin: 0;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1vh;
    line-height: 130%;
    text-align: center;

}

.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}


.footer {
    width: 100%;
    height: 5vh;
    position: relative;
    background-color: black;
}
#copirate{
    color: silver;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    position: absolute;
    top: 35%;
    left: 5%;
}
address{
    color: silver;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    position: absolute;
    right: 5%;
    top: 35%;
}

.main-arrow a {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5px;
}


