@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
nav {
    height: 5vh;
    background-color: black;
    position: relative;
}
nav a img {
    width: 4vh;
    height: 4vh;
    left: 5px;
    top: 5px;
    position: absolute;
}
.hidden {
    display: none; !important;
}
h1 {
    display: block;
    justify-content: center;
    padding-top: 0.5vh;
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 30px;

}
h2{
    text-align: center;
    margin: 0;
    padding-top: 1%;
    size: 20px;
}
.menu-button {
    color: white;
    position: absolute;
    right: 1%;
    top: 30%;
    transform: scaleX(2) scaleY(1.25) rotate(90deg);
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.menu-button-active {
    color: white;
    position: absolute;
    right: 1%;
    top: 20%;
    transform: rotate(0deg) scaleY(2) scaleX(1.25);
    transition: all 0.2s ease-in;
    text-decoration: none;
}
.open {
    width: 300px;
    height: 134px;
    background-color: #f3f3f3;
    right: 5px;
    position: absolute;
    box-shadow: 1px 10px 40px rgba(0,0 , 0, 0.45);
    border-radius:5px;
}
main{
    position: relative;
    min-height: 80.15vh;

}

footer {
    height: 6.5vh;
    position: absolute;
    background-color: black;
    margin-bottom: 0;
    width: 100%;

}

#copirate{
    color: silver;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    position: absolute;
    top: 35%;
    left: 5%;
}

address{
    color: silver;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    position: absolute;
    right: 5%;
    top: 35%;
}
#menu-content ul {
    padding-inline-start: 0;

}
#menu-content li{
    background-color: white;
    list-style-type:none;
    width: 100%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20%;
    transition: all 0.25s ease-in;
}

#menu-content li:hover{
    background-color: silver;
}
#menu-content ul a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.button-back {
    height: 61px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid black;
    border-radius: 50px;

    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 54px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
.button-back:hover {
    background-color: #0c0b0c;
    color: white;
}
.url {
    text-align: center;
    margin: 30px 0 30px 0;
    bottom: 30px;
    width: 100%;

}
.container {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 375px) {
    h1 {
        font-size: 20px;
        padding-top: 2%;
    }
    .menu-button {
        right: 3%;
        top: 25%;
        transform: rotate(90deg) scaleY(2) scaleX(1.25);
    }
    .menu-button-active {
        right: 3%;
        top: 25%;
        transform: rotate(0deg) scaleY(2) scaleX(1.25);
    }
    address, #copirate {
        font-size: 10px;
        letter-spacing: 1px;
    }
    .container {
        max-width: 90%;
    }
}

@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 2) {
    h1 {
        font-size: 20px;
        padding-top: 2%;
    }
    .container {
        max-width: 90%;
    }
    .menu-button {
        right: 3%;
        top: 25%;
        transform: rotate(90deg) scaleY(2) scaleX(1.25);
    }
    .menu-button-active {
        right: 3%;
        top: 25%;
        transform: rotate(0deg) scaleY(2) scaleX(1.25);
    }
    address, #copirate {
        font-size: 10px;
        letter-spacing: 1px;
    }
}
@media (min-width: 2000px) {
    h1 {
        padding-top: 0.6%;
    }
    .menu-button {
        top: 32.5%;
    }
    .menu-button-active {
        top: 30%;
        right: 1.2%;
    }
}
.card {
    padding: 25px;
    display: block;
    position: static;
    width:60%;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.card h3 {
    display: block;
    font-size: 25px;
    margin: 5px;

}

p {
    margin: 0;
    margin-bottom: 15px;
}
.card .card-description {
    font-weight: 500;
    margin-top: 10px;
    font-size: 18px;
    padding: 0 0 0 5px;
}
.card-description li {
    padding-bottom: 2px;
}

.card img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
